.product-wrapper {
    row-gap: 1rem;
	z-index: var(--z-back);
	padding-top: 3rem;
	padding-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    height: 65vh;
    width: 100%;
}

.product-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 64vh;
    background-color: white;
    opacity: .75;
    padding: 25px
}

.product-card {
    background-color: violet;
    width: 50%;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
    height: 75%;
    align-self:center;
}

@media screen and (max-width: 400px) {

    .product-content {
        display: flex;
        flex-direction: column;
        padding: 25px;
        align-items: center;
    }

}