.contact-wrapper {
    background-color: #020687;
	width: 100%;
	row-gap: 1rem;
	z-index: var(--z-back);
	padding-top: 3rem;
	padding-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    height: 55vh;
}

.contact-content {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    height: 54vh;
    opacity: .75;
}