.contact-wrapper {
	row-gap: 1rem;
	z-index: var(--z-back);
	padding-top: 3rem;
	padding-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    height: 65vh;
    width: 100%;
}

.contact-content {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    height: 64vh;
    opacity: .75;
    padding: 25px
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-name {

}